<div xmlns:th="http://www.thymeleaf.org">
    <footer class="page-footer pink lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-darken-4">
                        new swag by liz boi ya better believe
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container white-text text-lighten-3">
                Made by <a class="grey-text text-lighten-3" href="https://danielbyun.github.io">Daniel Byun</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
    <!-- data table -->
    <link th:href="@{/css/jquery.dataTables.min.css}" href="/static/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    
    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    
    <script th:src="@{/js/materialize.js}"></script>
    <script th:src="@{/js/init.js}"></script>
    <script th:src="@{/js/scripts.js}" src="/static/js/scripts.js"></script>

</div>
