<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/_header :: common-header"></head>
    <nav th:replace="fragments/_header :: navbar"></nav>
    <div th:replace="fragments/_header :: carousel"></div>
    <main class="container">
        <section class="row">
            <h1>
                your account
            </h1>
            <hr>
        </section>

        <section class="row">
            <div class="col s9">
                <img alt="hours of the flowershop" src="../static/img/hours.png" class="responsive-img">
            </div>
        </section>

    </main>

    <th:block th:include="/fragments/_footer"/>
    </body>
</html>